/*
 *= require font-kit-rails/open-sans
*/

@import "bootstrap";
@import "font-awesome";
@import "col-helpers";
@import "nav";
@import "events";
@import "tickets";

body {
  font-family: 'Open Sans';
}
.nav {
  float: right;
}
.btn.btn-danger {
  background-color: rgb(216, 87, 66);
  border: 2px solid rgb(241, 112, 91);
}
.pT30 {
padding-top: 30px;
}
.pB30 {
padding-bottom: 30px;
}
.alc {
text-align: center;
}
.w40 {
width: 40%;
min-width: 200px;
}
.formWrapper {
width: 80%;
margin: 0 auto;
}
.sidebar h1,.sidebar h2 {
text-align: center;
}
.ticket-list h2 {
  margin-top: 40px;
}
